__pycache__/
.env
*.env

/workshop

# Terraform files and directories
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfstate
*.tfstate.*
.terraformrc
crash.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store